<section>
  <h2>Carlos Alexandre</h2>
  <h2>Software Craftsman</h2>
  <h3>@</h3>
  <a href="vizir.com.br"
    ><img class="no-border" id="vizir-logo" src="../images/loggi-logo.jpg"
  /></a>
  <p>
    <a href="https://twitter.com/calexandrepcjr"> @calexandrepcjr </a>
  </p>
</section>
